.juega-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  /* Otros estilos para el contenedor principal */
}


.background-image-default {
  background-image: url(/src/assets/Portada1.gif);
  /* Estilos adicionales para la imagen de fondo predeterminada */
}

.background-image-1 {
  background-image: url(ruta-de-imagen-1);
  /* Estilos adicionales para la imagen de fondo 1 */
}

.background-image-2 {
  background-image: url(ruta-de-imagen-2);
  /* Estilos adicionales para la imagen de fondo 2 */
}

.game-container {
  background-color: #a80b0b;
  padding: 20px;
  border-radius: 8px;
  /* Otros estilos para el contenedor del juego */
}

/* Otros estilos adicionales que desees agregar */

.background-image {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1; /* Ajusta el valor del z-index según sea necesario */
/* Otros estilos para la imagen de fondo */
}
